*{
    margin: 0;
    padding: 0;
}
#root{
    .swiper-container{
        position: relative;
        width: 600px;
        height: 300px;
        background-color: #abcdef;
        border: 1px solid #F00;
        overflow: hidden;

        .swiper-wrapper{
            position: absolute;
            top: 0;
            left: -600px;
            width: 4200px;

            .swiper-slide{
                float: left;
                width: 600px;
                height: 300px;
                background-color: #000;
                color: #FFF;
                text-align: center;
                line-height: 300px;
                font-size: 100px;
            }
        }
        
        .swiper-pagination{
            position: absolute;
            left: 50%;
            bottom: 20px;
            height: 20px;
            transform: translate3D(-50%, 0, 0);

            .swiper-pagination-bullet{
                margin: 0 4px;
                float: left;
                width: 20px;
                height: 20px;
                background-color: #FFF;
                border-radius: 50%;
                text-align: center;
                line-height: 20px;

                &.active{
                    background-color: #F00;
                    color: #FFF;
                }
            }
        }

        .swiper-button-prev, .swiper-button-next{
            position: absolute;
            top: 0;
            width: 20px;
            height: 100%;
            background-color: #F00;
        }
        .swiper-button-prev{
            left: 0;
        }
        .swiper-button-next{
            right: 0;   
        }
    }
}