*{
    margin: 0;
    padding: 0;
}

.swiper-container{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #abcdef;
    
    .swiper-wrapper, .swiper-slide{
        height: 100%;
    }
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        color: #FFF;
        font-size: 100px;
    }

    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 14px;
        width: 100%;
        height: 15px;
        .swiper-pagination-bullet{
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #FFF;
            &.active{
                background-color: #d00
            }
        }
    }
}